body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 1em;
  width: 100%;
  margin-bottom: 1.5em;
}

header h1 {
  margin: 0;
}

header label {
  margin-left: auto;
}

#time-slider {
  width: 250px;
}

#selected-time,
#any-time {
  display: block;
  text-align: right;
}

#any-time {
  color: gray;
  font-style: italic;
}